.Button__root {
    height: 2.5rem;
    width: 2.5rem;
    background: black;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.Button__root--active {
    border-color: #DEBF76;
    color: #DEBF76;
}
