@font-face {
  font-family: "Supply";
  src: url("../public/Supply-Regular.woff") format("woff"),
  url("../public/Supply-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Supply", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

div[role="tooltip"] {
  z-index: 15;
  font-size: 0.8rem;
}
