.MediaSwitch__root {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    z-index: 10;
    padding: 0;
}

.MediaSwitch__item {
    margin-bottom: 0.25rem;
}

.MediaSwitch__button--disabled {
    color: gray !important;
    cursor: unset;
}

.MediaSwitch__button:not(.MediaSwitch__button--disabled) {
    cursor: pointer;
}
